<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<title> {{page.title}} </title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research">Research</a></li>
        		<li><a href="/cv">CV / Publications</a></li>
        		<li><a href="/tutorials">Tutorials</a></li>
        		<li><a href="/contact">Contact</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    		{{ content }}
    
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:gjgilbert[at]uchicago[dot]edu"><img src="/images/email_icon.png" width="15", height="13"> email</a></li>
        		<li><a href="https://github.com/gjgilbert" target="_blank"><img src="/images/github_icon.png" width="15", height="13"> github</a></li>
			<li><a href="https://twitter.com/GraigGeelbort" target="_blank"><img src="/images/twitter_icon.png" width="15", height="13"> twitter</a></li>
			</ul>
		</footer>
	</body>
</html>
